---
 const personalImageAlt = "Anabella Simonpietri"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Anabella Simonpietri y soy de Argentina, Buenos Aires. Soy Full Stack Web Developer con background en Marketing Digital y formación en la Universidad Nacional de Quilmes (UNQ) y Henry especializada en <strong
        >Front-end, Back-end y base de datos.</strong
      >
    </p>

    <!-- <p>
      Algunos de mis éxitos incluyen <strong
        >el desarrollo y mantenimiento </strong
      >. Actualmente sigo estudiando (lenguaje)...
    </p> -->

    <p>
      He trabajado en proyectos individuales y grupales lo que me ayudó a desarrollar habilidades como trabajo en equipo, resolución de problemas y destrezas para <strong
        >crear diseños que faciliten las necesidades de las personas.</strong
      >
    </p>
  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>